@import "../../stylesheets/Core/variables.scss";

.collapsable-box {
  font-family: $opensans;
  color: $grey;
  min-width: 32rem;
  border-bottom: solid 0.2rem $lightGrey;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    color: $mediumOrange;
    font-size: 1.8rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem;
    display: inline-block;
    text-transform: uppercase;
  }
}

.collapsible--arrow {
  transition: transform 1s ease;
}

.collapsable-box__header {
  cursor: pointer;
}

.fa-chevron-down {
  font-size: 1.8rem;
  width: 1.6rem;
  height: 1.8rem;
  color: $grey;
}

.hidden {
  .collapsable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease-in;
  }

  .collapsible--arrow {
    transform: rotate(0deg);
    transition: transform 1.2s ease;
  }
}

.open {
  .collapsable-box {
    border-bottom: 1px solid transparent;
  }

  .collapsable-content {
    border-left: 0.1px solid transparent;
    max-height: 100%;
    transition: max-height 1.5s ease-in;
  }

  .collapsible--arrow {
    transform: rotate(-180deg) translateY(50%);
    transition: transform 1.2s ease;
  }
}