@import "../../stylesheets/Core/variables.scss";

.collapsable-box {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    color: $mediumOrange;
    font-size: 1.8rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem;
    display: inline-block;
    text-transform: uppercase;
  }
}

.collapsible--arrow {
  transition: transform 1s ease;
}

.collapsable-box__header {
  cursor: pointer;
}

.fa-chevron-down {
  font-size: 1.8rem;
  width: 1.6rem;
  height: 1.8rem;
  color: $grey;
}

.hidden {
  .collapsable-content {
    display: none;
  }

  .collapsible--arrow {
    transform: rotate(0deg);
  }
}

.open {
  .collapsable-content {
    border-bottom: 1px solid transparent;
  }

  .collapsible--arrow {
    transform: rotate(-180deg) translateY(50%);
  }
}

// .arrow {
//   transition: transform ease 1s;

//   &:hover {
//     transform: translateY(-50%) rotate(-180deg);
//   }
// }

// .hidden .arrow-down {
//   transform: translateY(-50%) rotate(-180deg);
//   margin-top: 1.5rem;
// }