@import "../Core/variables.scss";

.card__social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.6rem;
}

.card__icon {
  height: 3.2rem;
  width: 3.2rem;
  border: $lightGreen solid 0.2rem;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: $darkGreen;
  margin: 0 0.5rem 0 0.5rem;
}

.icon__palette1 {
  color: $darkGreen;
  border: 2px solid $lightGreen;

  .far,
  .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem 0 0.5rem;
    color: $darkGreen;
  }
}

.icon__palette2 {
  color: $darkRed;
  border: 2px solid $darkOrange;

  .far,
  .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem 0 0.5rem;
    color: $darkRed;
  }
}

.icon__palette3 {
  color: $bluishGray;
  border: 2px solid $lightBlue;

  .far,
  .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem 0 0.5rem;
    color: $bluishGray;
  }
}



// .fas {
//   text-align: center;
//   font-size: 2.24rem;
//   height: 2.6rem;
//   width: 3.2rem;
//   color: $mediumOrange;
//   margin-top: 1.5rem;
// }